@font-face {
    font-family: amasis-mt;
    src: url(fonts/amasis-mt.ttf);
}


body {
  padding-top: 50px;
  background-image: url("../img/background.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: 1024px;
  background-size:cover;
}

@media (min-width: 1441px) {


.middle{


  width:1440px;
  margin:0 auto;
}


.logo{
	width:1323px;
	top: 20px;
    position: absolute;
}

.loogo{

width:1440px;
 position:fixed;     
 z-index: 60;

}


#logoimg{

	pointer-events: none;

}
.social{
    position: fixed;
    bottom: 20px;
    z-index: 30;
    margin-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.nav_menu {

    font-family: amasis-mt;
    width: 700px;
    margin-right: -15px;
    position: fixed;
    top: 58px;
    font-size: 18px;
    margin-left: 824px;
    z-index: 70;
}

ul li {
  display: inline;
  text-align: center;
}

.social>ul>li{

	    padding-right: 13px;
	    cursor: pointer;
}

.nav_menu>ul>li>a {
  display: inline-block;
  width: 30%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 30%;
}

.three:hover ~ hr {
  margin-left: 60% ;
}


hr {
  height: 1rem;
  width: 8%;
  margin: 0;
  background: #201E5A;
  border: none;
  margin-left: 11.2%;
  transition: .3s ease-in-out;
}

.intro{
    width: 1100px;
    position: absolute;
    top: 200px;
    z-index: 10;
    margin-left: 360px;
    pointer-events: none;

}

.intro_text{

    z-index: 20;
    position: absolute;
    top: 760px;
    pointer-events: none;
    margin-left: 478px;
    width: 870px;

}

img.topp {
    width: 100%;
    top: 0px;
    z-index: 50;
    position: fixed;
}

.abouttxt{
    position: absolute;
    top: 175px;
    width: 1080px;
    z-index: 40;
    margin-left: 360px;
display: none;    
}


.whytxt{
    position: absolute;
    top: 175px;
    width: 1100px;
    z-index: 40;
    margin-left: 358px;
   display: none;
}

.video{
    position: absolute;
    top: 230px;
    margin-left:480px;
    z-index: 40;
    width:860px;
    height: 480px;
}





}




@media (max-width: 1440px) {


.middle{


  width:1024px;
  margin:0 auto;
}

.logo{
  width:1323px ;
  top: 20px;
    position: absolute;
}

.loogo{
width:1024px !important;
 position:fixed;     
 z-index: 60;

}

#logoimg{

  pointer-events: none;

}
.social{
    position: fixed;
        margin-top: 400px;
    z-index: 30;
    margin-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.nav_menu {

    font-family: amasis-mt;
    width: 700px;
    margin-right: -15px;
    position: fixed;
    top: 36px;
    font-size: 18px;
    margin-left: 408px;
    z-index: 70;
}

ul li {
  display: inline;
  text-align: center;
}

.social>ul>li{

      padding-right: 13px;
      cursor: pointer;
}

.nav_menu>ul>li>a {
  display: inline-block;
  width: 30%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 30%;
}

.three:hover ~ hr {
  margin-left: 60% ;
}


hr {
  height: 1rem;
  width: 8%;
  margin: 0;
  background: #201E5A;
  border: none;
  margin-left: 11.2%;
  transition: .3s ease-in-out;
}

.intro{
width: 750px;
    position: absolute;
    top: 150px;
    z-index: 10;
    margin-left: 290px;
    pointer-events: none;

}

.intro_text{

    z-index: 20;
    position: absolute;
    top: 530px;
    pointer-events: none;
    margin-left: 370px;
    width: 600px;
}

img.topp {
    width: 100%;
    top: 0px;
    height: 130px;
    z-index: 50;
    position: fixed;
}

.abouttxt{
    position: absolute;
    top: 132px;
    width: 740px;
    z-index: 40;
    margin-left: 290px;
display: none;    
}


.whytxt{
    position: absolute;
    top: 135px;
    width: 730px;
    z-index: 40;
    margin-left: 290px;
   display: none;
}

.video{
    position: absolute;
    top: 170px;
    margin-left: 371px;
    z-index: 40;
    width: 590px;
    height: 340px;
}
}














